*,
*::before,
*::after {
    box-sizing: border-box;
}

body { background-image: none }

.intro { padding-bottom: 0 }

.skills-list,
.skills-list__periodic-tables {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--clr-light);
    text-align: center;
    padding-left: 0px;
    margin: 3em 2em 0;
}

.skills-list__item {
    scale: 3;
    padding: 2em;
}

.skills-list__item__periodic-tables {
    scale: 2;
    padding: 1.5em 0;
    flex-basis: 25%;
}

@media (min-width: 800px) {
    .section__title--intro strong {
        min-width: 6.5em;
    }

    .intro { 
        max-width: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .intro-text {
        max-width: 600px;
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        margin-right: 8em;
    }

    .skills-list__periodic-tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        padding-left: 1.5em;
    }

    .skills-list__item__periodic-tables {
        scale: 3;
        padding: 0;
    }
}