*,
*::before,
*::after {
    box-sizing: border-box;
}

body { 
    background-image: none;
    margin: 2em;
}

.intro { padding-bottom: 2em }

.skills-list,
.skills-list__periodic-tables {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--clr-light);
    text-align: center;
    padding-left: 0px;
    margin: 2em 4em;
}

.skills-list__item {
    scale: 3;
    padding: 2em;
}

@media (min-width: 800px) {
    .section__title--intro strong {
        min-width: 9em;
    }

    .intro { 
        max-width: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .intro-text {
        max-width: 600px;
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        margin-right: 8em;
    }

    .skills-list__periodic-tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
    }
}